*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width:100vw;
    max-height: 100vh;
    background-color: #222831;
    
}
h1{
    text-align: center;
    padding: 20px 0;
    font-size: 48px;
    color:rgb(195, 211, 49);
    background-color:#111720;
}
.result{
    text-align: center;
    margin: 20px;
    font-size: 30px;
    color:azure;
}
.round-result{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    color:azure;
    font-size: 20px;
}
.left,.right{
    text-align: center;
}
.left-sign,.right-sign{
    font-size: 80px;
    padding: 10px;
}

.playerChoices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap:40px;
}
.btn{
    width:200px;
    aspect-ratio: 1;
    background:#333;
    border:none;
}
.btn:hover{
    cursor:pointer;
    background: rgba(97, 96, 96, 0.4);
}
.sign{
    font-size: 150px;
}
p{
    text-align: center;
    color:azure;
    font-size: 30px;
}

.endgame{
    position: absolute;
    top:50%;
    left:50%;
    height:150px;
    aspect-ratio: 2;
    transform: translate(-50%,-50%);
    background-color: rgba(37, 37, 37, 0.8);
    display: none;
    padding: 20px;
}

.endgame button{
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    width:50px;
    aspect-ratio: 2;
    border:none;
    border-radius: 3px;
}
.endgame button:hover{
    cursor:pointer;
    background-color: rgba(170, 168, 168, 0.4);
}